#mainDiv {width:980px; margin:0 auto 0 auto;}

#slideshow {position:relative; height: 900px;}
#btn {position:absolute; top:350px; left:400px; }
 
.a1{width:100px;height:100px;position:absolute;top:620px;left:137px;}
.a2{width:100px;height:100px;position:absolute;top:620px;left:337px;}
.a3{width:100px;height:100px;position:absolute;top:620px;left:537px;}
.a4{width:100px;height:100px;position:absolute;top:620px;left:737px;}
.a5{width:100px;height:100px;position:absolute;top:500px;left:830px;}
.a6{width:200px;height:200px;position:absolute;top:300px;left:630px;}
.a7{width:300px;height:300px;position:absolute;left:340px;}
.a8{width:200px;height:200px;position:absolute;top:300px;left:150px;}
.a9{width:100px;height:100px;position:absolute;top:500px;left:50px;}






/***************Back Up****************/
/*#mainDiv {width:980px; margin:0 auto 0 auto;}

#slideshow {position:relative; height: 900px;}
#btn {position:absolute; top:350px; left:400px; }
 
#slideshow figure:nth-child(1) img{width:100px;height:100px;position:absolute;top:620px;left:137px;}
#slideshow figure:nth-child(2) img{width:100px;height:100px;position:absolute;top:620px;left:337px;}
#slideshow figure:nth-child(3) img{width:100px;height:100px;position:absolute;top:620px;left:537px;}
#slideshow figure:nth-child(4) img{width:100px;height:100px;position:absolute;top:620px;left:737px;}
 
#slideshow figure:nth-child(5) img{width:100px;height:100px;position:absolute;top:500px;right:50px;}
#slideshow figure:nth-child(9) img{width:100px;height:100px;position:absolute;top:500px;left:50px;}
 
#slideshow figure:nth-child(6) img{width:200px;height:200px;position:absolute;top:300px;right:150px;}
#slideshow figure:nth-child(8) img{width:200px;height:200px;position:absolute;top:300px;left:150px;}
 
#slideshow figure:nth-child(7) img{width:300px;height:300px;position:absolute;left:340px;}*/





















/*@keyframes 1 {width:100px;height:100px;position:absolute;top:620px;left:137px;}
@keyframes 2 {width:100px;height:100px;position:absolute;top:620px;left:337px;}
@keyframes 3 {width:100px;height:100px;position:absolute;top:620px;left:537px;}
@keyframes 4 {width:100px;height:100px;position:absolute;top:620px;left:737px;}
@keyframes 5 {width:100px;height:100px;position:absolute;top:500px;left:50px;}
@keyframes 6 {width:100px;height:100px;position:absolute;top:500px;right:50px;}
@keyframes 7 {width:200px;height:200px;position:absolute;top:300px;left:150px;}
@keyframes 8 {width:200px;height:200px;position:absolute;top:300px;right:150px;}
@keyframes 9 {width:300px;height:300px;position:absolute;left:340px;}*/




















/*body{background-image: url('crayon2.jpg'); background-repeat: no-repeat; background-size:100% 100%;}
header{text-shadow:5px 5px 5px #00FF00; width: 100%; height:80px; border-bottom: 5px orange double; text-align: center; font-size: 70px; padding-bottom: 15px; font-family: 'Arial Rounded MT', Helvetica, sans-serif; color:gold; }
#mainDiv { background-color: grey; opacity: 0.9; border-width: 0 1px 0 1px; border-color: green; border-style: solid; width:980px;  margin:auto;	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif; position: relative;}
#tableHolder ul{margin:0; padding:0;}
#tableHolder li 
{
    display:inline-block;
    height:50px;
    width:50px;
    margin:3px;
    text-align:center;
    border: 3px solid turquoise;
    font-size: small;
    border-radius: 40px;
    line-height: 50px;
}
#mainDiv div:nth-child(1), #mainDiv div:nth-child(2), #mainDiv div:nth-child(3) {float: left; width: 33.33%; text-align: center; padding-bottom:50px;}
#mainDiv div:nth-child(1) input, #mainDiv div:nth-child(2)  input { font-size: 50px; width: 150px;  border-radius: 20px; padding-left: 10px;}
#mainDiv div:nth-child(3)  input { font-size: 60px; width: 100px; height: 100px; margin-top: 20px; border-radius: 50px;}
#tableHolder {; text-align: center; height:700px; overflow: auto; clear:both;}*/



/*http://www.w3schools.com/css/css_image_sprites.asp*/
/*#mainDiv div:nth-child(1) p {display: block;  background-image: url(iconRow.jpg); background-size: 20px 20px; background-repeat: no-repeat; background-position: 120px;}
#mainDiv div:nth-child(2) p {display: block;  background-image: url(iconCol.jpg); background-size: 20px 20px; background-repeat: no-repeat; background-position: 120px;}
#color, #reset {font-size: 30px; width: 150px;  border-radius: 30px;}
aside{position: absolute; right: -170px; top:20px;}*/

/*turn off spinner on number input fields*/
